@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Skeleton loader */
  .skeleton {
    @apply bg-gradient-to-r from-neutral-100 to-white;
  }

  .link {
    color: #009cdf;
  }

  .link:hover {
    color: #0069ac;
  }

  .content {
    @apply my-2 md:my-5;
  }

  .tab {
    @apply inline-flex p-4 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300;
  }

  .tab.active {
    @apply text-purple-600 border-purple-600;
  }

  .tag.instantiate {
    @apply border border-amber-300 bg-amber-100 text-amber-600;
  }

  .tag.call {
    @apply border border-purple-300 bg-purple-100 text-purple-600;
  }

  .tag.chain  {
    @apply bg-emerald-100 text-emerald-800;
  }

  .tag.contract {
    @apply text-neutral-600 bg-neutral-200
  }
  .tag.eoa {
    @apply text-orange-600 bg-orange-200
  }
  .tag.wasm {
    @apply text-lime-600 bg-lime-200
  }

  .code {
    @apply bg-gray-100 text-gray-800 border border-gray-200 rounded-md px-3 py-2 shadow-inner font-mono break-words overflow-y-auto max-h-20
  }
}

/* Fixes */
.ui--IdentityIcon {
  cursor: inherit !important;
}