@import url('https://fonts.googleapis.com/css2?family=B612+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Skeleton loader */
  .skeleton {
    @apply bg-gray-200;
  }

  .link {
    @apply text-blue-800;
  }
}